.pageContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px;
}

.pageHeader {
  display: block;
  text-align: center;
}

.pageTitle {
  display: block;
}


@media (min-width: 768px) {
  .pageContainer {
    gap: 10px;
    padding: 0 20px;
  }
  .pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .pageTitle {
    display: inline;
  }
}
